<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="app.component.css" />
  </head>

  <body>
    <div class="container">
      <div class="left-side">
        <div class="Lab-Title">Lab Title</div>
        <div class="Section-Title">Task/Section Title</div>
        <div class="progress-bar"></div>

        <div class="text-container">
          <button class="question-number">1</button>
          <div class="text">
            This is the first step to be completed for this section of the lab.
            Follow the step in the VM before moving on to the next step
          </div>
        </div>

        <div class="question-type01">
          <div class="description1">
            This is a question in the lab. Answer it in the text box below
          </div>
          <input class="textbox" type="text" placeholder="Enter text here..." />
        </div>

        <div class="text-container">
          <button class="question-number">2</button>
          <div class="text">
            This is the second step to be completed for this section of the lab
          </div>
        </div>

        <div class="text-container">
          <button class="question-number">3</button>
          <div class="text">
            This is step3. Make sure to complete this step before moving on to
            step4. You may need to use the VM for this step
          </div>
        </div>

        <div class="description02">
          Put a command for the command prompt here.
        </div>

        <div class="text-container">
          <button class="question-number">4</button>
          <div class="text">
            This is step 4. Why did the scarecrow get promoted? Because he was
            outstanding in his field!
          </div>
        </div>

        <div class="text-container">
          <button class="question-number">5</button>
          <div class="text">
            This is step 5. Why don't skeletons fight each other? Because they
            don't have the guts!
          </div>
        </div>

        <div class="text-container">
          <button class="question-number">6</button>
          <div class="text">
            This is step 6. How does a penguin build its house? Igloos it
            together!
          </div>
        </div>

        <div class="text-container">
          <button class="question-number">7</button>
          <div class="text">
            This is step 7. Make sure to complete this step before moving on to
            step9.You may need to use the VM for this step
          </div>
        </div>

        <div class="description02">
          Put a command for the command prompt here.
        </div>

        <div class="previous-next-container">
          <div class="Previous-container">
            <div><img class="Previous" src="../assets/back.png" alt="" /></div>
            <div class="previous-text">Previous</div>
          </div>

          <div class="Next-container">
            <div class="next-text">Next</div>
            <div><img class="Next" src="../assets/next.png" alt="" /></div>
          </div>
        </div>
      </div>

      <div class="right-side">
        <div class="vm-header">
          <div class="Topology-container">
            <div>
              <img class="image-icon" src="../assets/image-icon.png" alt="" />
            </div>
            <div>Topology</div>

            <div>
              <img
                class="hamburger-icon"
                src="../assets/Hamburger-icon.png"
                alt=""
              />
            </div>
            <div class="vm-text">VM</div>

            <div>
              <img
                class="down-arrow-icon"
                src="../assets/down-arrow.png"
                alt=""
              />
            </div>
          </div>

          <button class="stop-button">Stop</button>
        </div>

        <div class="vm-image-container">
          <img class="vm-image" src="../assets/vm-image.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
